In [3]:
#Question 22

#1 Ice Cream
#2 Brownie
#3 Cookie
#4 Cake
#5 Pie

import sqlite3
con = sqlite3.connect('MidtermFinal.db')
cur = con.cursor()

cur.execute('CREATE TABLE Dessert (DessertName TEXT, ThomasRanking INTEGER, MyRanking INTEGER)')

cur.execute("INSERT INTO Dessert VALUES ('Cake',1,4)")
cur.execute("INSERT INTO Dessert VALUES ('Brownie',2,2)")
cur.execute("INSERT INTO Dessert VALUES ('Ice Cream',3,1)")
cur.execute("INSERT INTO Dessert VALUES ('Cookie',4,3)")
cur.execute("INSERT INTO Dessert VALUES ('Pie',5,5)")

In [4]:
cur.execute('SELECT * FROM Dessert')
cur.fetchall()

[('Cake', 1, 4),
 ('Brownie', 2, 2),
 ('Ice Cream', 3, 1),
 ('Cookie', 4, 3),
 ('Pie', 5, 5)]

In [5]:

cur.execute('SELECT * FROM Dessert WHERE ThomasRanking = 1 OR MyRanking = 1')
cur.fetchall()

[('Cake', 1, 4), ('Ice Cream', 3, 1)]

In [6]:

cur.execute('SELECT * FROM Dessert ORDER BY MyRanking')
cur.fetchall()

[('Ice Cream', 3, 1),
 ('Brownie', 2, 2),
 ('Cookie', 4, 3),
 ('Cake', 1, 4),
 ('Pie', 5, 5)]